@model DataAccess.EF.BatchDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BatchDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BatchDetailId" />
            <div class="form-group">
                <label asp-for="BatchId" class="control-label"></label>
                <select asp-for="BatchId" class="form-control" asp-items="ViewBag.BatchId"></select>
                <span asp-validation-for="BatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursTaken" class="control-label"></label>
                <input asp-for="HoursTaken" class="form-control" />
                <span asp-validation-for="HoursTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicsTaken" class="control-label"></label>
                <input asp-for="TopicsTaken" class="form-control" />
                <span asp-validation-for="TopicsTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

